<!DOCTYPE html>
<html lang="en" ng-app="app">
<% include ./partials/head %>

<body>
    <% include ./partials/header %>
    <main role="main" class="container" ng-controller="categoriesCtrl" ng-init="onInit()" ng-cloak>
        <div class="page-area">
            <div class="row">
                <div ng-repeat="t in data" class="col-lg-3 col-md-3 col-sm-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" ng-src="{{t.picture}}" alt="{{t.categoryName}}">
                        <div class="card-body">
                            <h4 class="card-title">{{t.categoryName}}</h4>
                            <p class="card-text">
                                {{t.description}}
                            </p>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-primary">Edit</button>
                                <button type="button" class="btn btn-sm btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script>
        app.controller('categoriesCtrl', function ($scope, apiService) {
            $scope.data = [];
            $scope.onInit = function () {
                $scope.onGet();
            };

            $scope.onGet = function () {
                apiService.get("/api/categories").promise
                    .then(function (r) {
                        if (r.status === 1) {
                            r.data.forEach(function (x) {
                                if (x.picture) x.picture = arrayBufferToBase64Image(x.picture.data);
                                else x.picture = '/images/no-image-available.png';
                            });
                            $scope.data = r.data;
                        }
                    })
                    .catch(function (e) {
                        console.log(e);
                    });
            };
        });
    </script>
</body>

</html>