<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body>
    <div ng-cloak ng-app="app" ng-controller="homeCtrl" ng-init="onInit()">
        <% include ./partials/nav %>
        <main role="main" class="container">
            <div class="page-area">
                <section name="jumbotron">
                    <div class="jumbotron text-center">
                        <h1>App is being served with node.js</h1>
                        <p>Using EJS templating</p>
                    </div>
                </section>
            </div>
        </main>
        <% include ./partials/footer %>
    </div>
    <% include ./partials/scripts %>
    <script src="/scripts/home-controller.js"></script>
</body>

</html>