<!DOCTYPE html>
<html lang="en" ng-app="app">
<% include ./partials/head %>

<body>
    <% include ./partials/header %>
    <main role="main" class="container" ng-controller="homeCtrl" ng-init="onInit()">
        <div class="page-area">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary ladda-button" ladda-button="loading" data-style="expand-left" ng-click="onClick()">Ladda Button</button>
                    <button type="button" class="btn btn-primary" ng-click="showmessagebox()">Show messagebox</button>
                </div>
            </div>
        </div>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script>
        app.controller('homeCtrl', function ($scope, $timeout, snackbar, messagebox) {
            $scope.loading = false;
            $scope.onInit = function () {
                var loggedOut = getQueryParameterByName("loggedout");
                if (loggedOut && loggedOut === "1") {
                    snackbar.showSuccess("You are successfully logged out!!", 3000);
                    removeQueryFromWindowUrl();
                }
            };

            $scope.onClick = function () {
                $scope.loading = true;
                $timeout(function () {
                    $scope.loading = false;
                }, 5000);
            };

            $scope.showmessagebox = function () {
                messagebox.showError("Error occured", "Something went wrong!!", "Some error occured while processing your request. Please try again or contact admin.");
            };
        });
    </script>
</body>
</html>