<!DOCTYPE html>
<html lang="en" ng-app="app">
<% include ./partials/head %>

<body ng-cloak>
    <% include ./partials/header %>
    <main role="main" class="container" ng-controller="homeCtrl" ng-init="onInit()">
        <div class="page-area">
            <div class="row">
                <div class="col-lg-12">
                    <!--<button type="button" class="btn btn-danger" ng-click="onGet()">Test error snackbar</button>-->
                </div>
            </div>
        </div>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script>
        app.controller('homeCtrl', function ($scope) {
            $scope.onInit = function () {
            };

            //$scope.onGet = function () {
            //};
        });
    </script>
</body>
</html>