<!DOCTYPE html>
<html lang="en" ng-app="app">
<% include ./partials/head %>

<body>
    <% include ./partials/header %>
    <main role="main" class="container" ng-controller="registerCtrl" ng-init="onInit()">
        <div class="page-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-11 mx-auto border border-dark rounded shadow-sm box-background">
                            <div class="row">
                                <h4 class="col-lg-12 py-4">Please fill the from below to signup.</h4>
                            </div>
                            <form class="row" name="regfrm">
                                <div class="col-12 pb-4">
                                    <label>Profile pic:</label>
                                    <div class="border border-dark rounded shadow-sm profile-pic-box" ng-click="onPickImage()">
                                        <i ng-if="!user || !user.profilePic" class="zmdi zmdi-camera mx-auto"></i>
                                        <img ng-if="user && user.profilePic" ng-src="{{ user.profilePic }}" />
                                    </div>
                                    <input type="file" id="profilepic" onchange="angular.element(this).scope().onPhotoChanged(this)" style="display: none;" accept="image/*" />
                                </div>
                                <div class="col-12 form-group">
                                    <label for="fullname" ng-class="{ 'text-danger':regfrm.fullname.$invalid && regfrm.fullname.$touched }">Your fullname:</label>
                                    <input type="text" class="form-control" ng-class="{ 'is-invalid':regfrm.fullname.$invalid && regfrm.fullname.$touched }" name="fullname" id="fullname" ng-model="user.fullname" required>
                                    <div class="invalid-feedback">
                                        <span ng-if="regfrm.fullname.$error['required']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Fullname is required!!</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 form-group">
                                    <label for="email" ng-class="{ 'text-danger':regfrm.email.$invalid && regfrm.email.$touched }">Email address:</label>
                                    <div class="input-icon-wrapper">
                                        <i ng-show="isCheckingEmail" class="zmdi zmdi-spinner zmdi-rotate-right zmdi-hc-spin loader"></i>
                                        <input type="email" class="form-control" ng-class="{'is-invalid':regfrm.email.$invalid && regfrm.email.$touched}" name="email" id="email" ng-model="user.email" ng-blur="onEmailChange(regfrm)" required>
                                        <div class="invalid-feedback">
                                            <span ng-if="regfrm.email.$error['required']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Email is required!!</span>
                                            <span ng-if="regfrm.email.$error['email']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Invalid email!!</span>
                                            <span ng-if="!regfrm.email.$error['required'] && !regfrm.email.$error['email'] && regfrm.email.$error['emailexists']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Someone else is using this email!!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 form-group">
                                    <label for="username" ng-class="{ 'text-danger':regfrm.username.$invalid && regfrm.username.$touched }">Username:</label>
                                    <div class="input-icon-wrapper">
                                        <i ng-show="isCheckingUsername" class="zmdi zmdi-spinner zmdi-rotate-right zmdi-hc-spin loader"></i>
                                        <input type="text" class="form-control" ng-class="{'is-invalid':regfrm.username.$invalid && regfrm.username.$touched}" name="username" id="username" ng-model="user.username" ng-blur="onUsernameChange(regfrm)" required>
                                        <div class="invalid-feedback">
                                            <span ng-if="regfrm.username.$error['required']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Username is required!!</span>
                                            <span ng-if="!regfrm.username.$error['required'] && regfrm.username.$error['usernameexists']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Username is already assigned to someone else!!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 form-group">
                                    <label for="passwd" ng-class="{ 'text-danger':regfrm.passwd.$invalid && regfrm.passwd.$touched }">Password:</label>
                                    <input type="password" class="form-control" ng-class="{ 'is-invalid':regfrm.passwd.$invalid && regfrm.passwd.$touched }" name="passwd" id="passwd" ng-model="user.password" required ng-minlength="8">
                                    <div class="invalid-feedback">
                                        <span ng-if="regfrm.passwd.$error['required']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Password is required!!</span>
                                        <span ng-if="regfrm.passwd.$error['minlength']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Length must be at least 8 characters!!</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 form-group">
                                    <label for="confpasswd" ng-class="{ 'text-danger':regfrm.confpasswd.$invalid && regfrm.confpasswd.$touched }">Confirm password:</label>
                                    <input type="password" class="form-control" ng-class="{ 'is-invalid':regfrm.confpasswd.$invalid && regfrm.confpasswd.$touched }" name="confpasswd" id="confpasswd" ng-model="confpasswd" required compare-to="user.password">
                                    <div class="invalid-feedback">
                                        <span ng-if="regfrm.confpasswd.$error['required']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Confirm password is required!!</span>
                                        <span ng-if="!regfrm.confpasswd.$error['required'] && regfrm.confpasswd.$error['compareTo']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Password did not match!!</span>
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <button ng-disabled="isSigningUp||regfrm.$invalid" ng-click="onSignUp()" type="button" class="btn btn-primary float-right">
                                        <span ng-if="isSigningUp"><i class="zmdi zmdi-spinner zmdi-rotate-right zmdi-hc-spin"></i>&nbsp;</span>SIGNUP
                                    </button>
                                    <button ng-disabled="isSigningUp" ng-click="onResetForm()" type="reset" class="btn btn-danger mr-2 float-right">
                                        RESET
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script>
        app.controller('registerCtrl', function ($scope, $window, $timeout, $uibModal, apiService, messageBox) {
            $scope.isSigningUp = false;
            $scope.user = {};
            $scope.onInit = function () {
            };

            $scope.onEmailChange = function () {
                $scope.regfrm.email.$setValidity("emailexists", true);
                if ($scope.regfrm.email.$valid) {
                    $scope.isCheckingEmail = true;
                    apiService.post("/api/checkuserexists", { email: $scope.user.email }, true).promise.then(function (res) {
                        $scope.isCheckingEmail = false;
                        if (res && res.status === 1) {
                            var isExists = res.data.isExists.toString() === 'true';
                            $scope.regfrm.email.$setValidity("emailexists", !isExists);
                        }
                    });
                }
            };

            $scope.onUsernameChange = function () {
                $scope.regfrm.username.$setValidity("usernameexists", true);
                if ($scope.regfrm.username.$valid) {
                    $scope.isCheckingUsername = true;
                    apiService.post("/api/checkuserexists", { username: $scope.user.username }, true).promise.then(function (res) {
                        $scope.isCheckingUsername = false;
                        if (res && res.status === 1) {
                            var isExists = res.data.isExists.toString() === 'true';
                            $scope.regfrm.username.$setValidity("usernameexists", !isExists);
                        }
                    });
                }
            };

            $scope.onSignUp = function () {
                $scope.isSigningUp = true;
                apiService.post("/api/register", $scope.user, true).promise.then(function (res) {
                    $scope.isSigningUp = false;
                    console.log(res);
                    if (res && res.status === 1) {
                        $scope.onResetForm();
                        messageBox.showSuccess("Sign up successful", "You are successfully signed up with us.", "We have sent you an email on your registered emailid for verifying your emailid. Please verify your emailid to activate your account.");
                    }
                });
            };

            $scope.onResetForm = function () {
                $scope.user = {};
                $scope.confpasswd = null;
            }

            $scope.onPickImage = function () {
                $("#profilepic").trigger('click');
            }

            $scope.onPhotoChanged = function (element) {
                if ($window.FileReader && element && element.files) {
                    var modalInstance = $uibModal.open({
                        templateUrl: 'uitemplates/imgcropper.tmpl.html',
                        animation: true,
                        keyboard: true,
                        backdrop: 'static',
                        size: 'lg',
                        controller: function ($scope, $uibModalInstance) {
                            var vm = $scope;
                            vm.orgImg = null;
                            vm.croppedImg = null;

                            vm.onInit = function () {
                                var file = element.files[0];
                                $timeout(function () {
                                    var fileReader = new FileReader();
                                    fileReader.onload = function (e) {
                                        $timeout(function () {
                                            vm.orgImg = e.target.result;
                                        });
                                    };
                                    fileReader.readAsDataURL(file);
                                });
                            };

                            vm.closePopup = function (flag) { $uibModalInstance.close(flag ? vm.croppedImg : null); };

                            vm.onInit();
                        },
                        windowClass: 'show',
                        backdropClass: 'show'
                    });

                    modalInstance.result.then(function (croppedImg) {
                        if (croppedImg) {
                            $scope.user.profilePic = croppedImg;
                        }
                    });
                }
            };
        });
    </script>
</body>
</html>