<!DOCTYPE html>
<html lang="en" ng-app="app">
<% include ./partials/head %>

<body>
    <main role="main" class="container" ng-controller="resetPasswdCtrl" ng-init="onInit()" ng-cloak>
        <div class="page-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-11 mx-auto border border-dark rounded shadow-sm box-background">
                            <div class="row py-4" ng-if="showForm"><h4 class="col-lg-12">Enter your new password</h4></div>
                            <form class="row" name="resetfrm" ng-if="showForm">
                                <div class="col-lg-6 col-12 form-group">
                                    <label for="passwd" ng-class="{ 'text-danger':resetfrm.passwd.$invalid && resetfrm.passwd.$touched }">Password:</label>
                                    <input type="password" class="form-control" ng-class="{ 'is-invalid':resetfrm.passwd.$invalid && resetfrm.passwd.$touched }" name="passwd" id="passwd" ng-model="model.newpasswd" required ng-minlength="8">
                                    <div class="invalid-feedback">
                                        <span ng-if="resetfrm.passwd.$error['required']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Password is required!!</span>
                                        <span ng-if="resetfrm.passwd.$error['minlength']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Length must be at least 8 characters!!</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 form-group">
                                    <label for="confpasswd" ng-class="{ 'text-danger':resetfrm.confpasswd.$invalid && resetfrm.confpasswd.$touched }">Confirm password:</label>
                                    <input type="password" class="form-control" ng-class="{ 'is-invalid':resetfrm.confpasswd.$invalid && resetfrm.confpasswd.$touched }" name="confpasswd" id="confpasswd" ng-model="confpasswd" required compare-to="model.newpasswd">
                                    <div class="invalid-feedback">
                                        <span ng-if="resetfrm.confpasswd.$error['required']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Confirm password is required!!</span>
                                        <span ng-if="!resetfrm.confpasswd.$error['required'] && resetfrm.confpasswd.$error['compareTo']"><i class="zmdi zmdi-alert-triangle"></i>&nbsp;Password did not match!!</span>
                                    </div>
                                </div>
                                <div class="col-12 form-group">
                                    <button ng-disabled="isResetting||resetfrm.$invalid" ng-click="onReset()" type="button" class="btn btn-primary float-right">
                                        <span ng-if="isResetting"><i class="zmdi zmdi-spinner zmdi-rotate-right zmdi-hc-spin"></i>&nbsp;</span>RESET
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <div class="row pb-3" ng-if="!showForm">
                                <h4 class="col-lg-12 pt-4 text-center" ng-bind-html="msg | trusted"></h4>
                                <a ng-if="isSuccess" class="col-lg-12 btn btn-link" href="/?needlogin=1">Click here to login using your new password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script>
        app.controller('resetPasswdCtrl', function ($scope, apiService) {
            $scope.showForm = true;
            $scope.isResetting = false;
            $scope.isSuccess = false;
            $scope.newpasswd = '';
            $scope.confpasswd = '';
            $scope.model = {
                email: getQueryParameterByName("email"),
                code: getQueryParameterByName("code"),
                newpasswd: ""
            };

            $scope.onInit = function () {
            };

            $scope.onReset = function () {
                $scope.msg = "";
                $scope.isResetting = true;
                apiService.post("/api/resetpassword", $scope.model, true).promise.then(function (r) {
                    if (r && r.status === 1) {
                        $scope.isSuccess = true;
                        $scope.msg = "<strong class='text-success'>Congratulations! Your password is successfully reset. You can now use your new password.</strong>";
                    }
                    else
                        $scope.msg = "<strong class='text-danger'>Couldn't reset your password successfully. Please try again refereshing the page.</strong>";

                    $scope.model = {
                        email: getQueryParameterByName("email"),
                        code: getQueryParameterByName("code"),
                        newpasswd: ""
                    };

                    $scope.showForm = false;
                    $scope.isResetting = false;
                });
            };
        });
    </script>
</body>
</html>