<!DOCTYPE html>
<html lang="en" ng-app="app">
<% include ./partials/head %>

<body>
    <main role="main" class="container" ng-controller="emailVerifyCtrl" ng-init="onInit()">
        <div class="page-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-11 mx-auto border border-dark rounded shadow-sm box-background">
                            <div class="row">
                                <h4 ng-if="isVerifying" class="col-lg-12 py-4"><strong>Please wait, we are verifying your email.</strong></h4>
                                <h4 ng-if="isVerified" class="col-lg-12 py-4"><strong>Congratulations! Your email is successfully verified.</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script>
        app.controller('emailVerifyCtrl', function ($scope, apiService) {
            $scope.onInit = function () {
                var email = getQueryParameterByName("email");
                var code = getQueryParameterByName("code");
                console.log(email, code);
                $scope.isVerifying = true;
                apiService.post("/api/verifyemail", { email: email, code: code }).promise.then(function (r) {
                    $scope.isVerifying = false;
                    if (r && r.status === 1) {
                        $scope.isVerified = true;
                    }
                });
            };
        });
    </script>
</body>
</html>