<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error</title>
</head>

<body style='margin: 0;padding: 0;min-width: 100% !important;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";'>
    <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" style="padding: 20px 0px;">
                <table style="width: 100%;max-width: [boxmaxwidth];background-color: #fffdfd;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <table style="width: 100%;border:1px solid #ff4d4d; border-radius:5px;" border="0" cellpadding="10" cellspacing="0">
                                <tr>
                                    <td style="color:#fb4141;"><h2 style="margin:0px;">[errmsg]</h2></td>
                                </tr>
                                <tr>
                                    <td style="color:#fb4141;word-wrap: break-word; word-break:break-all;">[errstack]</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="margin-top:10px;padding:10px; width: 100%;border:1px solid #ff8a00; border-radius:5px;background-color:#fffdfa;" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="color:#de8f2c;" align="center">
                                        <h3 style="margin:0px;">Request details</h3>
                                        <hr style="border:0px;height:1px;background-color:#de8f2c;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Path</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqpath]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Mathod</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqmethod]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Body</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqbody]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Query</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqquery]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Params</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqparam]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Headers</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqheaders]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Userid</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[userid]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Hostname</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqhostname]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Ip</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqip]</td>
                                </tr>
                                <tr>
                                    <td style="color:#e6942b;word-wrap: break-word; word-break:break-all;"><strong>Browser</strong></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 15px;color:#e6942b;word-wrap: break-word; word-break:break-all;">[reqbrowser]</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>