<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error</title>
</head>

<body style='margin: 0;padding: 0;min-width: 100% !important;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";'>
    <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" style="padding: 20px;">
                <table style="width: 100%;max-width: [boxmaxwidth];background-color: #fff6f6;"
                    cellpadding="10" cellspacing="0" border="0">
                    <tr>
                        <td colspan="2" style="color:#fb4141; background:white; border:1px solid black;">
                            <strong>Error details</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="color:#fb4141;border-left:1px solid black;"><b>Message</b></td>
                        <td style="border-right:1px solid black;">[errmsg]</td>
                    </tr>
                    <tr>
                        <td style="color:#fb4141;border-left:1px solid black;"><b>Stack</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;border-right:1px solid black;">[errstack]</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background:white;border:1px solid black;">
                            <strong>Request details</strong>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Path</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">[reqpath]</td>
                    </tr>
                    <tr style="padding-top: 20px">
                        <td><b>Method</b></td>
                        <td>[reqmethod]</td>
                    </tr>
                    <tr>
                        <td><b>Body</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">[reqbody]</td>
                    </tr>
                    <tr>
                        <td><b>Query</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">[reqquery]</td>
                    </tr>
                    <tr>
                        <td><b>Param</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">[reqparam]</td>
                    </tr>
                    <tr>
                        <td><b>Headers</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">
                            [reqheaders]
                        </td>
                    </tr>
                    <tr>
                        <td><b>Userid</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">
                            [userid]
                        </td>
                    </tr>
                    <tr>
                        <td><b>Hostname</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">
                            [reqhostname]
                        </td>
                    </tr>
                    <tr>
                        <td><b>Ip</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">[reqip]</td>
                    </tr>
                    <tr>
                        <td><b>Browser</b></td>
                        <td style="word-wrap: break-word; word-break:break-all;">[reqbrowser]</td>
                    </tr>
                </table>
            </td>
        </tr>
</body>

</html>