<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body>
    <div class="container" ng-cloak ng-app="app" ng-controller="mainCtrl">
        <% include ./partials/nav %>
        <div class="page-area">
            <section name="jumbotron">
                <div class="jumbotron text-center">
                    <h1>App Presents</h1>
                    <p>Using EJS templating with Node.js</p>
                </div>
            </section>
            <% include ./partials/footer %>
        </div>
    </div>

    <% include ./partials/scripts %>
    <script src="/scripts/main-controller.js"></script>
</body>

</html>