<header ng-controller="headerCtrl" ng-init="onInit()">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">App</a>

            <!-- Links -->
            <div class="navbar-nav">
                <span class="nav-item" id="lnkcat">
                    <a class="nav-link" href="/categories" ng-class="{'active': activePage == 'categories'}">Categories</a>
                </span>
                <div>
                    <div class="nav-item float-left" id="lnklogin" ng-click="openLogin()">
                        <a class="nav-link">Login</a>
                    </div>
                    <div class="nav-item float-left" id="lnkreg">
                        <a class="nav-link" href="/signup" ng-class="{'active': activePage == 'signup'}">Signup</a>
                    </div>

                    <div class="nav-item dropdown active float-left" id="lnkuser">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <img id="userpic" class="rounded-circle border-profile-pic border-white" height="30"/>&nbsp;&nbsp;<span id="userfullname"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Manage Profile</a>
                            <span class="dropdown-item" ng-click="onLogout()">Logout</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>